

:root {
    --color-primario-oscuro: #212F45;
    --color-secundario-oscuro: #272640;
    --color-primario-claro: #006466;
    --color-secundario-claro:#4d194d;
    --color-gris-oscuro: #D2D4C8;
    --color-gris-claro: #E0E2DB;
    --color-hover:#ff9000;
  }

body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
  background-color: var(--color-gris-claro);
  /* background-image: linear-gradient(180deg, var(--color-gris-oscuro) 0%,var(--color-gris-claro) 100%); */
  
}

/* HEADER */
.container0{
  width: 100vw;
  height: 100vh;

  display:flex;
  align-items: center;
  color: #fff;
}
.header-content{
  max-width: 60rem;
  padding: 0 1rem;
  margin: auto;
  text-align: center;
  z-index: 10;
}
.header-content h1{
  font-size: 50px;
  margin-bottom: 50px;
}

.header-content p{
  font-size:25px ;
}

.header-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
/* .header-video video{
  min-width: 100%;
  min-height: 100%;
} */
.header-overlay{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top:0;
  left: 0;
  /* background: var(--color-secundario-claro); */
  background-image: linear-gradient(
        40deg,
         var(--color-primario-claro) 0%,
        /* var(--color-primario-claro) 45%, */
        var(--color-secundario-claro)  100%
      );
  z-index: 1;
  opacity: 0.9;

}

.titulos{
text-align: start;
margin-left: 50px;
margin-top: 50px;
color: var(--color-secundario-claro);
}

/* EXPERIENCIA */
  .container {
    display: flex;
    max-width: 200vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 35px;
    margin: 0 auto;
    padding: 50px 0;
    justify-content:space-around;
    position: relative;
  }
    .card {
      position: relative;
      width: 400px;
      height: 450px;
      margin: 0 auto;
      background: #fff;
      /* border-radius: 15px; */
      box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
    }
      .cara {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    
      }
        .cara1 {
          box-sizing: border-box;
          padding: 20px;
        }
          h2 {
            margin: 0;
            padding: 0;
          }

          /* .cara-text{
            background-color: #000;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          } */

        .cara2 {
          transition: 0.5s;
        }
          .cara2 h2 {
            margin: 0;
            padding: 0;
            font-size: 3em;
            color: #fff;
            transition: 0.5s;
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            z-index: 10;
          }
        
      
    

    .card:hover .cara.cara2 {
      height: 60px;
    }
      .card:hover .cara.cara h2 {
        font-size: 2em;
      }
    

    .card:nth-child(1) .cara.cara2 , .card:nth-child(2) .cara.cara2 , .card:nth-child(3)  .cara.cara2 {
      background-image: linear-gradient(
        40deg,
         var(--color-primario-claro) 0%,
        /* var(--color-primario-claro) 45%, */
        var(--color-secundario-claro)  100%
      );
      /* border-radius: 15px; */
    }
    .cara-puesto {
      color: var(--color-primario-claro);
      font-weight: 700;
      margin-top:-2px;
    }

/* ICONOS  */
.container2{
    width: 100%;
    position: relative;
    display: flex;
    justify-content:center;
}

.container2 .card2{
    position: relative;
    cursor: pointer;
}

.container2 .card2 .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container2 .card2 .face.face1{
    position: relative;
    background: var(--color-secundario-oscuro);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container2 .card2:hover .face.face1{
    background:var(--color-primario-claro);
    transform: translateY(0);
}

.container2 .card2 .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container2 .card2:hover .face.face1 .content{
    opacity: 1;
}

.container2 .card2 .face.face1 .content img{
    max-width: 100px;
}

.container2 .card2 .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container2 .card2 .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container2 .card2:hover .face.face2{
    transform: translateY(0);
}

.container2 .card2 .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.boton{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 700;
    color: var(--color-primario-claro);
    padding: 5px;
    border: 1px solid var(--color-primario-claro);
    
}
.boton:hover{
    background: var(--color-primario-claro);
    color: #fff;
}

.cv-pdf{
  color:#fff;
  border: 1px solid #fff;
  font-size: 20px;
  margin:30px;
  padding: 10px;
  margin-top:100px;
}
.cv-pdf:hover{
   background-color: #fff;
   color:var(--color-primario-claro)
  }
.btn-referencia{
  margin-left: 250px;

}
/* PORTAFOLIO */

.container3  {
  /* position: absolute;
  left: 50%;
  top: 100%; */
  position: relative;
  /* transform: translate(-50%, -50%); */
  height: 300px;
  width: 400px;
  background: var(--color-gris-claro);
  overflow: hidden;
  /* border-radius: 20px; */
  cursor: pointer;
  /* box-shadow: 0 0 20px 8px #d0d0d0; */
  margin: 100px;
}
 .content3 {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  text-align: justify;
  color: #000;
  padding: 60px;
  margin-top:20px;
 }
  h1 {
    font-weight: 700;
    text-align: center;
  }
  
  h3 {
    font-weight: 300;
  }
  
  .flap1{
    width: 100%;
    height: 100%;
  }
  
  .flap1::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    background: url("img/1argensoft.png") var(--color-gris-claro);
    background-size: cover;
    background-position: -70px;
    background-repeat: no-repeat;
    transition: 1s;
  } 
 
  .flap1::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    right: 0;
    background: url("img/1argensoft.png") var(--color-gris-claro);
    background-size: cover;
    background-position: -270px;
    background-repeat: no-repeat;
    transition: 1s;
  }
  
  .container3:hover .flap1::after{
    transform: translatex(300px);
  }
  
  .container3:hover .flap1::before{
    transform: translatex(-300px);
  }
  .dos{
      /* border:1px solid #fff;
      color: #fff; */
      margin-bottom: 50px;
  }
